@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container,
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .container p {
  margin-top: -20px;
  font-size: 0.85rem;
  font-weight: 700;
} */